.search__layout.independence {
    height: 120px;
}

.forgot__password {
    background: linear-gradient(180deg, #4E9FFF 0%, #267CE8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.login {
    height: unset;
}

.reset-by-phone{
    display: none;
}

#app__footer {
    margin: 0;
}