#app__container {
    padding: 0 16px;
}

/* CONTAINER POST */
.container__post-img {
    margin: 24px 0;
    width: 100%;
}

.container__post-title {
    font-size: 2.6rem;
}

.container__post-detail {
    font-size: 1.8rem;
    line-height: 1.6;
}

.container__overview {
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-top-color: #fff;
}