:root {
    --background-gradient: linear-gradient(180deg, #267CE8 0%, #4E9FFF 100%);
    --blue-color: #2C6BDC;
    --green-color: #05A81F;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #bdbdbd;
    --star-gold-color: #ffce3e;

    --header-height: 120px;
    --navbar-height: 34px;
    --navbar-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --navbar-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growthOfModal {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growthOfModal linear 0.2s;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

.box-shadow {
    padding: 24px;
    border: 1px solid #ccc;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}


/* BUTTON */
.btn {
    min-width: 250px;
    height: 50px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--blue-color);
    background-color: #fff;
    padding: 0 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn--size-s {
    min-width: unset;
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--normal {
    color: #2C6BDC;
    border: 0.5px solid rgba(78, 159, 255, 0.5);
}

.btn.btn--green-outline {
    color: var(--green-color);
    border: 0.5px solid var(--green-color);
}

.btn.btn--green-outline:hover {
    background: var(--green-color);
    color: var(--white-color);
}

.btn.btn--orange {
    color: var(--white-color);
    background: #FF6B00;
}

.btn.btn--normal:hover {
    background: var(--background-gradient);
    color: var(--white-color);
}

.btn.btn--primary {
    color: var(--white-color);
    background: var(--background-gradient);
}

.btn.btn--orange:hover,
.btn.btn--primary:hover {
    opacity: 0.8;
}

.btn.btn--visible {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

/* SELECT INPUT */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    list-style: none;
    padding: 8px 16px;
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.select-input__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    height: 20px;
    width: 100%;
}

.select-input__item {

}

.select-input__item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__item-link:hover {
    color: var(--background-gradient);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.pagination-item--active .pagination-item__link:hover {
    opacity: 0.8;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: #939393;
    display: block;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}


.heading-text {
    margin: 0;
    line-height: 2;
    font-size: 2.8rem;
    font-weight: 800;
    background: linear-gradient(180deg, #2D51CA 0%, #2C82ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-bold {
    font-weight: bold;
}

/* APP HEADER */
.header__banner {
    padding-top: 15%;
    background: url("/assets/img/LESGO-01-1.png") top center / cover no-repeat;
}

.header__navbar {
    height: 135px;
    position: relative;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */
#navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.navbar__bar {
    display: none;
}

.navbar__bar-icon {
    color: #2D51CA;
    font-size: 2.5rem;
}

.navbar__logo {
    cursor: pointer;
}

/* NAVBAR MIDDLE */
.navbar__middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu-item {
    
}

.navbar__menu-item a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #2D51CA;
    position: relative;
    cursor: pointer;
}

.navbar__menu-item a::after {
    content: "";
    display: block;
    height: 25px;
    border-left: 1px solid #4E9FFF;
    position: absolute;
    right: -13px;
    top: 10px;
    transform: translateY(-50%);
}

.navbar__middle-btn:hover,
.navbar__menu-item:hover a {
    opacity: 0.8;
}


/* Navbar Cart */
.navbar__cart {
    text-align: center;
}

.navbar__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.navbar__cart-icon {
    margin-top: 3px;
}

.navbar__cart-notice {
    position: absolute;
    top: -4px;
    right: 0;
    background-color: #ED1B24;
    color: var(--white-color);
    padding: 4px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
}


.search__layout {
    background: linear-gradient(#267CE8 0%, #4E9FFF 70%, #fff 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.seacrh__layout-wrapper {
    padding: 0 100px;
    position: relative;
}

.navbar__search {
    height: 60px;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.navbar__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.navbar__search-input:focus ~ .navbar__search-history {
    display: block;
}

/* Navbar Search History */
.navbar__search-history {
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(182, 182, 182);
    overflow: hidden;
    display: none;
}

.navbar__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.navbar__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.navbar__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.navbar__search-history-item:hover {
    background-color: #f7f0f0;
}

.navbar__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/* Navbar Search Selection */
.navbar__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.navbar__search-select-label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.navbar__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.navbar__search-select:hover .navbar__search-option {
    display: block;
}

.navbar__search-option {
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 130px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding-left: 0;
    border-radius: 3px;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.navbar__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 0;
}

.navbar__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.navbar__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.navbar__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navbar__search-option-item:hover {
    cursor: pointer;
    background-color: #f7f0f0;
}

.navbar__search-option span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.navbar__search-option i {
    font-size: 1.2rem;
    color: var(--background-gradient);
    margin: 0 4px 0 16px;
    display: none;
}

.navbar__search-option-item-active .navbar__search-option-icon {
    display: inline-block;
}

/* Navbar Search Button */
.navbar__search-btn {
    background: var(--background-gradient);
    border: none;
    outline: none;
    height: 50px;
    width: 120px;
    border-radius: 3px;
    margin-right: 3px;
    display: flex;
}

.navbar__search-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__search-btn-icon {
    margin: auto;
    font-size: 1.8rem;
    color: var(--white-color);
}

.search__suggest {
    display: flex;
    align-items: center;
}

.search__suggest-text {
    color: var(--white-color);
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
}

.search__suggest-text:hover {
    opacity: 1;
}

.search__suggest-text + .search__suggest-text {
    margin-left: 24px;
}

.search__suggest-text::after {
    content: "";
    display: block;
    height: 20px;
    border-left: 1px solid #fff;
    position: absolute;
    right: -13px;
    top: 7px;
    transform: translateY(-50%)
}

/* HEADER BANNER 2 */
.header__banner2-img {
    width: 100%;
}

.header__banner2 {
    position: relative;
}

.header__banner2-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* APP CONTAINER */
.container {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.container__banner {
    position: relative;
    margin-top: 48px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.container__banner-img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.container__heading {
    padding: 0 0 0 20px;
    position: relative;
}

.container__heading::after {
    content: "";
    display: block;
    height: 25px;
    width: 6px;
    background: linear-gradient(180deg, #DA0710 0%, #CA0009 100%);
    position: absolute;
    top: 16px;
    left: 0;
}



/* APP FOOTER */
#app_footer {
    margin-top: 100px;
    background: linear-gradient(180deg, #267CE8 0%, #4E9FFF 100%);
}

.footer__wrapper {
    padding: 60px;
}

.footer__wrapper p {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer__pay {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.footer__pay-img {
    width: 100%;
}

.footer__bank {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 16px;
    width: 100%;
}

.footer__bank-img {
    width: 100%;
}

.footer__section2 {
    padding-left: 48px;
}

.footer__section2 a {
    text-decoration: none;
}

.footer__section2 a:hover p {
    color: rgb(70, 17, 91);
}

.social__link {
    text-decoration: none;
}

.social__link + .social__link {
    margin-left: 10px;
}

.social__img {
    width: 30px;
    height: 30px;
}

.footer__section2-partner {
    margin-top: 24px;
}

.partner__wrapper {
    display: block;
    margin-top: 5px;
}

.partner__flc,
.partner__vinpearl {
    width: 100%;
    height: 95px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner__flc img,
.partner__vinpearl img {
    width: 120px;
    height: 60px;
}

.partner__img {
    width: 100%;
    height: 95px;
}

/* EVALUATE */
.evaluate__action {
    margin-top: 16px;
}

.evaluate__action img {
    width: 30px;
    height: 25px;
}

.container__evaluate {
    padding: 60px 24px;
}

.container__evalutate-comment {
    margin-top: 48px;
}

.comment__user {
    display: flex;
    align-items: center;
}

.comment__user-img {
    width: 60px;
    height: 60px;
}

.comment__user-info {
    margin-left: 16px;
}

.comment__user-name {
    margin: 14px 0 0;
    font-size: 1.8rem;
}

.comment__user-date {
    font-size: 1.4rem;
}

.comment__user-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/* COPY LINK */
.copy__link {
    width: 100%;
    height: 30px;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}

.copy__link button {
    font-size: 1.6rem;
    height: 28px;
    width: 100px;
    font-weight: 600;
    border: none;
    background: #E5E5E5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.copy__link button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.copy__link input {
    color: var(--blue-color);
    padding: 0 10px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    height: 25px;
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* CONTAINER ROUTE */
.container__route {
    width: 100%;
    display: flex;
    align-items: center;
}

.container__route-name {
    /* color: var(--blue-color); */
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
}

.container__route-name + .container__route-name {
    margin-left: 48px;
}

.container__route-arrow::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -35px;
    border-width: 7px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

/* NEWS */
.container__news {
    padding: 60px 24px;
}

.container__news-card {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 24px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
}

.container__news-card:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.container__news-img {
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
    
}

.container__news-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blue-color);
    line-height: 1.8rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.container__news-desc {
    margin: 10px;
    color: var(--text-color);
    font-size: 1.3rem;
}

.booking__expand {
    display: flex;
}

.booking__expand-symbol {
    border-width: 8px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #267CE8;
}

.booking__expand-title {
    margin: 0 0 0 12px;
    font-size: 2rem;
    font-weight: 500;
}

/* SEARCH LAYOUT INDEPENDENCE */
.search__layout.independence {
    height: 200px;
    background: linear-gradient(180deg, #267CE8 0%, #4E9FFF 100%);
}

/* TRAVEL TREND */
.travel__trend {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.travel__trend-img {
    width: 30%;
}

.travel__trend-text {
    width: 70%;
    padding: 24px;
}

.travel__trend-title {
    text-decoration: none;
    font-weight: 600;
    font-size: 2.4rem;
    color: #2C6BDC;
}

.travel__trend-title:hover {
    opacity: 0.7;
}

.travel__trend-desc {
    font-size: 1.8rem;
    line-height: 1.6;
}