/* MOBILE & TABLET */
@media (max-width: 63.9375em) {

    #app {
        overflow: hidden;
    }

    .header__navbar {
        height: unset;
    }

    .navbar__bar {
        display: block;
    }

    .hide-on-tablet-mobile {
        display: none;
    }

    .footer__section2 {
        padding-left: unset;
        margin-top: 12px;
    }

    .search__suggest {
        display: none;
    }
    
    .seacrh__layout-wrapper {
        padding: 0 24px;
    }

    .container__places-box,
    .container__news-card,
    .container__guide-card,
    .container__tours-card {
        margin-top: 16px;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) { 
    .lesgo__join-wrapper {
        padding: 20px;
    }

    .lesgo__join-title {
        font-size: 3rem;
    }

    .lesgo__join-desc {
        font-size: 1.4rem;
        margin: 0;
    }

    .btn--size-s {
        padding: 0 20px;
    }
}

/* MOBILE */
@media (max-width: 46.1875em) { 
    .hide-on-mobile {
        display: none;
    }

    #navbar {
        padding: 0 12px;
    }

    .navbar__bar-icon {
        color: #2D51CA;
        font-size: 1.6rem;
    }

    .navbar__search {
        height: 40px;
    }

    .navbar__search-btn {
        height: 36px;
    }

    .navbar__logo__img {
        height: 40px;
        width: 60px;
    }

    .navbar__cart-icon {
        width: 24px;
        height: 24px;
    }

    .navbar__cart-notice {
        top: -3px;
        right: 3px;
        padding: 1px 5px;
        font-size: 1rem;
    }

    .navbar__search-btn {
        width: 80px;
    }
    
    .container__category-box {
        height: unset;
        padding: 10px 0;
    }
    
    .container__category-thumbnail {
        width: 80px;
        height: 80px;
    }

    .container__category-title {
        font-size: 1rem;
        letter-spacing: normal;
    }

    .heading-text {
        font-size: 1.6rem;
    }

    .partner__flc img,
    .partner__vinpearl img {
        width: 70px;
        height: 35px;
    }

    .partner__flc,
    .partner__vinpearl,
    .partner__img {
        border-radius: 8px;
        width: 100%;
        height: 60px;
    }
    
    .btn {
        font-size: 1.2rem;
        padding: 0 20px;
        height: 40px;
    }

    .container__heading::after {
        content: "";
        display: block;
        height: 20px;
        width: 4px;
        background: linear-gradient(180deg, #DA0710 0%, #CA0009 100%);
        position: absolute;
        top: 13px;
        left: 0;
        /* transform: translateY(100%) */
    }

    .lesgo__join {
        padding-top: 23%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    
    .lesgo__join-wrapper {
        padding: 15px;
    }

    .lesgo__join-wrapper button {
        min-width: 150px;
        height: 40px;
    }

    .lesgo__join-title {
        font-size: 1.5rem;
        margin: 6px;
    }
}