/* MOBILE & TABLET */
@media (max-width: 63.9375em) {

    #app {
        overflow: hidden;
    }

    .header__navbar {
        height: unset;
    }

    .navbar__bar {
        display: block;
    }

    .hide-on-tablet-mobile {
        display: none;
    }

    .footer__section2 {
        padding-left: unset;
        margin-top: 12px;
    }

    .search__suggest {
        display: none;
    }
    
    .seacrh__layout-wrapper {
        padding: 0 24px;
    }

    .container__places-box,
    .container__news-card,
    .container__guide-card,
    .container__tours-card {
        margin-top: 16px;
    }

    .guide__information-wrapper {
        flex-direction: column;
    }

    .guide__option {
        text-align: center;
        margin: 0;
    }

    .container__notify-text {
        font-size: 1.6rem;
    }

    .container__route-name {
        font-size: 1.5rem;
    }

    .container__route-arrow::after {
        top: 3px;
        right: -35px;
        border-width: 5px 6px;
    }

    .travel__trend-title {
        font-size: 2rem;
        line-height: 1.4;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) { 
    .heading-text {
        font-size: 2.2rem;
    }
    
    .container__heading::after {
        content: "";
        display: block;
        height: 22px;
        width: 6px;
        background: linear-gradient(180deg, #DA0710 0%, #CA0009 100%);
        position: absolute;
        top: 10px;
        left: 0;
    }

    .lesgo__join-wrapper {
        padding: 20px;
    }

    .lesgo__join-title {
        font-size: 3rem;
    }

    .lesgo__join-desc {
        font-size: 1.4rem;
        margin: 0;
    }

    .btn--size-s {
        padding: 0 20px;
    }

    .guide__img {
        width: 200px;
        height: 200px;
    }

    .guide__introduce {
        margin-top: 250px;
    }

    .pagination-item__link {
        min-width: 25px;
    }

    .header__banner2-title {
        font-size: 5rem;
        margin: 10px 0;
    }

    .header__banner2-desc {
        font-size: 1.7rem;
    }

    .search__layout.independence {
        height: 150px;
    }

    .travel__trend-text {
        max-height: 130px;
    }

    .travel__trend-desc {
        font-size: 1.4rem;
        line-height: 1.8rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }
}

/* MOBILE */
@media (max-width: 46.1875em) { 
    .hide-on-mobile {
        display: none;
    }

    .search__layout.independence {
        height: 100px;
    }

    #navbar {
        padding: 0 12px;
    }

    .navbar__bar-icon {
        color: #2D51CA;
        font-size: 1.6rem;
    }

    .navbar__search {
        height: 40px;
    }

    .navbar__search-btn {
        height: 36px;
    }

    .navbar__logo__img {
        height: 40px;
        width: 60px;
    }

    .navbar__cart-icon {
        width: 24px;
        height: 24px;
    }

    .navbar__cart-notice {
        top: -3px;
        right: 3px;
        padding: 1px 5px;
        font-size: 1rem;
    }

    .navbar__search-btn {
        width: 80px;
    }
    
    .container__category-box {
        height: unset;
        padding: 10px 0;
    }
    
    .container__category-thumbnail {
        width: 80px;
        height: 80px;
    }

    .container__category-title {
        font-size: 1rem;
        letter-spacing: normal;
    }

    .heading-text {
        font-size: 1.8rem;
    }

    .partner__flc img,
    .partner__vinpearl img {
        width: 70px;
        height: 35px;
    }

    .partner__flc,
    .partner__vinpearl,
    .partner__img {
        border-radius: 8px;
        width: 100%;
        height: 60px;
    }
    
    .btn {
        font-size: 1.2rem;
        padding: 0 20px;
        height: 40px;
    }

    .container__heading::after {
        content: "";
        display: block;
        height: 20px;
        width: 4px;
        background: linear-gradient(180deg, #DA0710 0%, #CA0009 100%);
        position: absolute;
        top: 8px;
        left: 0;
        /* transform: translateY(100%) */
    }

    .lesgo__join {
        padding-top: 23%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    
    .lesgo__join-wrapper {
        padding: 15px;
    }

    .lesgo__join-wrapper button {
        min-width: 150px;
        height: 40px;
    }

    .lesgo__join-title {
        font-size: 1.5rem;
        margin: 6px;
    }

    .guide__img {
        width: 150px;
        height: 150px;
    }
    
    .guide__btn {
        min-width: 120px;
        height: 30px;
    }

    .guide__introduce {
        margin-top: 200px;
    }

    .guide__menu-item a {
        font-size: 1.3rem;
    }

    .guide__introduce-title h3 {
        font-size: 1.5rem;
    }
    
    .guide__introduce-desc {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .guide__service-title {
        font-size: 1.4rem;
    }

    .container__result .container__tours {
        padding: 30px 8px;
    }

    .container__result .container__tours-card {
        margin-top: 8px;
    }

    .header__banner2-title {
        font-size: 2rem;
        margin: 0;
    }

    .header__banner2-desc {
        font-size: 1.2rem;
    }

    .travel__handbook {
        padding: 0 16px;
    }

    .pagination-item__link {
        min-width: 15px;
    }

    .travel__trend {
        display: block;
    }

    .travel__trend-img,
    .travel__trend-text {
        width: 100%;
    }

    /* LOGIN */
    .login__header {
        padding: 0;
    }

    .login__content {
        padding: 0 12px;
    }

    .login__heading {
        font-size: 2rem;
    }

    .login__body-input {
        height: 45px;
        padding: 0 12px;
        margin-top: 16px;
    }
    
    .login__body-input input,
    .login__body-input select {
        flex: 1;
        outline: none;
        border: none;
        height: 45px;
        font-size: 1.4rem;
    }

    .login__phone-head {
        height: 45px;
    }
    
    .login__phone-head select {
        height: 45px;
    }
}