.search__layout.independence {
    height: 120px;
}

.container__background {
    padding-bottom: 26%;
}

.login__overlay {
    height: 1000px;
}

.login__body-input select {
    outline: none;
    border: none;
    flex: 1;
    font-size: 1.6rem;
    height: 48px;
}

#app__footer {
    margin: 0;
}